.board {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px 1fr 200px;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    border: 2px solid black;
}

.player-area {
    border: 1px solid black;
}

.player-1 { background-color: red; }
.player-2 { background-color: green; }
.player-3 { background-color: yellow; }
.player-4 { background-color: blue; }

.home {
    position: relative;
    width: 100%;
    height: 100%;
}

.piece {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

.red { background-color: darkred; }
.green { background-color: darkgreen; }
.yellow { background-color: gold; }
.blue { background-color: darkblue; }

.center-area {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dice-btn {
    padding: 10px 20px;
    font-size: 16px;
}

#dice-result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}